{% extends 'base.html' %}

{% block content %}
Welcome to Posted

<div id='posts'>
    Loading...
</div>

<script>
const postsElement = document.getElementById("posts") // get an HTML element
postsElement.innerHTML = 'Loading...' // set new html in that element

postsElement.innerHTML

const xhr = new XMLHttpRequest() // this is javascript! in python would be something like xhr = SomeClass() -- basically making new instance of a class
const method = 'GET' // as opposed to a POST method
const url = "/posts"
const responseType = "json"

xhr.responseType = responseType
xhr.open(method, url)
xhr.onload = function() {
    const serverResponse = xhr.response // like a response when you load into a webpage
    var listedItems = serverResponse.response // array (or known as a list in python)
    var finalTweetStr = ""
    var i;
    for (i=0;i<listedItems.length; i++) {
        console.log(i)
        console.log(listedItems[i])
        var currentItem = "<div class='mb-4'><h1>" + listedItems[i].id + "</h1>" + "<p>" + listedItems[i].content + "</p></div>"
        finalTweetStr += currentItem
    }
    postsElement.innerHTML = finalTweetStr
    //console.log(listedItems)
}
xhr.send()

</script>
{% endblock content %}