{% comment %} <form method='POST' enctype="multipart/form-data"> {% csrf_token %} {% comment %} The enctype="multipart/form-data" attribute is specifically needed when you have a file input field (e.g., for image uploads) in the form. For regular form submissions that don't include files, this attribute is harmless and will not affect their functionality. {% endcomment %}
    {% comment %} {{ form.as_p }} renders passed form as a paragraph
    <button type='submit' class='btn btn-warning'>{% if btn_label %}{{btn_label}} {% else %}Save{% endif %}</button>
</form> {% endcomment %}
<main class="form-signin col-10 col-md-4 mx-auto p-5 border rounded-3 bg-body-tertiary col-lg-5">
    <form method="POST" enctype="multipart/form-data" class="{{ class }}"> {% csrf_token %}
      <img class="mb-4" src="/media/static_pics/postedlogo.png" alt="Posted Logo" width="72" height="57">
      <h1 class="h3 mb-3 fw-normal">{{ title }}</h1>

      {% if form.errors %} <h5 class="mb-3 fw-normal text-danger">{{ form.errors }}</h5> {% endif %}

      {% for field in form %}
      <div class="form-floating">
        <input type="{{ field.field.widget.input_type }}"
        class="form-control"
        id="floatingInput"
        placeholder="{{ field.label }}"
        name="{{ field.name }}"
        {% if field.value %}value="{{ field.value }}"{% endif %}> {% comment %} value is the value that is in the input box by default when form loaded (field.value the fields current value for object that is being edited) only is set as an attribute if there is a field.value existing {% endcomment %}
        <label for="floatingInput">{{ field.label }}</label> {% comment %} the for="" associates it with the input box using id {% endcomment %}
        {% if field.help_text %}
        <small id="helpBlock" class="form-text text-muted">
          {{ field.help_text }}
        </small>
        {% endif %}
      </div>
      {% endfor %}

      <div class="mt-1 mb-1">
        {% if description %} <span>{{ description }}</span> {% endif %}
        {% if link_display and link_url %} <a class="link-opacity-100" href="/{{ link_url }}">{{ link_display }}</a> {% endif %} 
      </div>

      <button class="btn btn-primary w-100 py-2" type="submit">{{ btn_label }}</button>
    </form>
</main>

{% comment %} value="{% if field.value is not none %}{{ field.value }} {% else %}{% endif %}" previous method i was using (worse) {% endcomment %}