body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* makes it so cursor changes to pointer (so users know the component links to something) */
.pointer {
  cursor: pointer !important;
}

/* stops text overflow on long words */
.overflow-wrap-break-word {
  overflow-wrap: break-word !important; 
}